<h3>Home</h3>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
  <p>Latitude: <%= @current_user_location.latitude %></p>
  <p>Longitude: <%= @current_user_location.longitude %></p>
<% end %>
